<header>
  <h2>Modification du post "{{title}}"</h2>
</header>

<form  (ngSubmit)="editPost()">
  <div class="mb-3">
    <label for="titre" class="form-label">Titre du post</label>
    <input type="text" class="form-control" id="titre" [(ngModel)]="title" name="titre" aria-describedby="text" placeholder="Entrez le titre du post">
  </div>
  <div class="mb-3">
    <label for="titre" class="form-label">Auteur</label>
    <select class="form-select" [(ngModel)]="auteur" name="auteur" aria-label="Default select example">

      <option *ngFor="let author of auteurs" [value]="author.id">{{author.full_name}}</option>

    </select>
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input type="text" class="form-control" id="image" [(ngModel)]="image" name="image" aria-describedby="text" placeholder="Entrez le lien du l'image">
  </div>
  <div class="mb-3 form-floating">
    <textarea class="form-control" placeholder="Entrez le resumé du post" id="resume" [(ngModel)]="resume" name="resume" style="height: 100px"></textarea>
    <label for="floatingTextarea2">Resumé</label>
  </div>
  <div class="mb-3 form-floating">
    <textarea class="form-control" placeholder="Entrez le du post" id="contenu" [(ngModel)]="content" name="contenu" style="height: 100px"></textarea>
    <label for="floatingTextarea2">Contenu</label>
  </div>

  <button type="submit" class="read-more-btn">Enregistrer</button>
  <button type="submit" class="read-more-btn">Annuler</button>
</form>
